#include "rpi64"
#include "gnuradio"
#include "gps"
#include "wifi"
#include "modem"

# RPI3 specific
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi3"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="broadcom/bcm2710-rpi-3-b broadcom/bcm2710-rpi-3-b-plus broadcom/bcm2837-rpi-3-b"
BR2_PACKAGE_RPI_FIRMWARE_VARIANT_PI_CD=y
BR2_PACKAGE_RPI_FIRMWARE_BOOTCODE_BIN=y
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rpi3-64/config_fw.txt"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rpi3-64/"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SATOS_PATH)/board/common/rootfs-overlay/ $(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rootfs-overlay/ $(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rpi3-64/rootfs-overlay/"
