#include "gnuradio"
#include "gps"
#include "wifi"
#include "modem"

# RPI64 config (3,4,5)
BR2_aarch64=y
BR2_cortex_a72=y

# Custom linux kernel
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/linux.fragment"
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,ac69f097e1fba94502cbd36278db204120a37943)/linux-ac69f097e1fba94502cbd36278db204120a37943.tar.gz"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y

# Add the firmware, include wifi by default
BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_FIRMWARE_VARIANT_PI4_CD=y

# Use upstream wifi firmware, not libreelec (BRCMFMAC_SDIO_FIRMWARE_RPI_WIFI)
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_BRCM_BCM43XXX=y
BR2_PACKAGE_FAKE_HWCLOCK=y
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/post-image.sh"

# Erofs settings
BR2_TARGET_ROOTFS_EROFS=y

# Custom u-boot version
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="rpi_arm64"
BR2_TARGET_UBOOT_LATEST_VERSION=y
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/uboot.fragment"
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_BOOT_SCRIPT_SOURCE="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/uboot.ush"
BR2_LINUX_KERNEL_DEFCONFIG="bcm2711"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="broadcom/bcm2711-rpi-4-b broadcom/bcm2712-rpi-5-b broadcom/bcm2712-d-rpi-5-b"
BR2_PACKAGE_RPI_FIRMWARE_CONFIG_FILE="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/config_fw.txt"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rpi64/"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_SATOS_PATH)/board/common/rootfs-overlay/ $(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rootfs-overlay/ $(BR2_EXTERNAL_SATOS_PATH)/board/raspberrypi/rpi64/rootfs-overlay/"