[submodule "buildroot"]
	path = buildroot
	url = ../buildroot.git
[submodule "apogee"]
	path = src/apogee
	url = ../apogee.git
[submodule "src/satos_genconf"]
	path = src/satos_genconf
	url = ../satos_genconf.git
