[submodule "buildroot"]
	path = buildroot
	url = ../buildroot.git
[submodule "client"]
	path = src/client
	url = ../client.git
[submodule "src/satos_genconf"]
	path = src/satos_genconf
	url = ../satos_genconf.git
[submodule "src/satiq-ira"]
	path = src/satiq-ira
	url = ../satiq-ira.git
