/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
release
ota/*.pem
qemu/tmp
qemu/config_usb/*
!qemu/config_usb/.gitkeep
/configs/*_defconfig
