[Unit]
Description=Pull jobs from the discosat-server and manage them.
Wants=time-sync.target network-online.target
After=time-sync.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/apogee-client
Restart=always

[Install]
WantedBy=multi-user.target
