[Unit]
Description=Set up the required permissions/folders for satos
After=data.mount provisioning.mount
Requires=data.mount
Wants=provisioning.mount
DefaultDependencies=no
OnFailure=satos-emergency.service

[Service]
Type=oneshot
ExecStart=/usr/bin/satos-setup
RemainAfterExit=yes
